---
layout: layout.njk
---

<div>
  <div class="prose dark:prose-invert">
    <h4>Hello World!</h4>
    <p>
      My name is Freerk. I&apos;m a 22 year-old system administrator and
      software engineer, based in Hamburg, Germany.
      <br />
    </p>
    <h4>Follow me on social media:</h4>
    <ul>
      <li>
        <a
          href="https://twitter.com/freerkzakfeld"
          target="_blank"
          rel="noreferrer"
        >
          Twitter
        </a>
      </li>
      <li>
        <a
          rel="me"
          href="https://mastodon.social/@freerkzakfeld"
          target="_blank"
          rel="noreferrer"
        >
          Mastodon
        </a>
      </li>
      <li>
        <a
          href="https://www.instagram.com/freerkzakfeld/"
          target="_blank"
          rel="noreferrer"
        >
          Instagram
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/freerk-zakfeld/"
          target="_blank"
          rel="noreferrer"
        >
          LinkedIn
        </a>
      </li>
      <li>
        <a href="https://github.com/fzakfeld" target="_blank" rel="noreferrer">
          GitHub
        </a>
      </li>
    </ul>
    <h4>Contact:</h4>
    <ul>
      <li>
        <a href="mailto:freerk@zakfeld.com">freerk@zakfeld.com</a>
      </li>
      <li>
        <a
          href="https://raw.githubusercontent.com/fzakfeld/ssh-public-keys/4732d81d23755b5f99d3d3335e9ad7f6ae2fa659/macbook2021.pub"
        >
          SSH Key
        </a>
      </li>
    </ul>
  </div>
</div>
