---
layout: layout.njk
title: Legal Notice - Freerk Zakfeld
---

<div class="prose dark:prose-invert">
  <h1>Legal</h1>
  <h2>Licensing</h2>
  <p>
    Unless otherwise noted, content on this website is licensed under a Creative
    Commons Attribution-ShareAlike 4.0 International License.
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
      Learn more
    </a>
  </p>
  <h2>Responsible for content</h2>
  <p>
    Freerk-Ole Zakfeld
    <br />
    Walddörferstr. 215, 22047 Hamburg, GERMANY
    <br />
    <h4>Contact</h4>
    Tel: +49 15678 365469 <br />
    Email: freerk@zakfeld.com
  </p>
</div>
